.cls-1 {
  fill: #728dd9;
}

.cls-2 {
  fill: #50a931;
}

.cls-2,
.cls-4,
#cls-2 {
  fill: #50a931;
}

.cls-14,
.cls-2,
.cls-21,
.cls-28,
.cls-5,
.cls-8 {
  stroke: #000;
}

/* .cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-2,
.cls-20,
.cls-21,
.cls-24,
.cls-25,
.cls-26,
.cls-28,
.cls-29,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke-miterlimit: 10;
} */

.cls-3 {
  fill: #ccfc55;
}

/* .cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-20,
.cls-21,
.cls-24,
.cls-25,
.cls-26,
.cls-28,
.cls-29,
.cls-5,
.cls-8,
.cls-9 {
  fill: none;
} */

.cls-25,
.cls-5 {
  stroke-width: 1.5px;
}

.cls-6,
.cls-7 {
  fill: #d6fa70;
}

.cls-6,
.cls-9 {
  stroke: #55a042;
}

.cls-10,
.cls-24,
.cls-26,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke-width: 2px;
}

.cls-10,
.cls-7 {
  stroke: #d6fa70;
}

#cls-11 {
  stroke-width: 6;
  fill: red;
}

/* #cls-11,
#cls-11-a,
#cls-11-b,
#cls-11-c,
#cls-11-d,
#cls-11-e,
#cls-11-f,
#cls-11-g {
  stroke: red;
  stroke-width: 6;
  stroke-miterlimit: 10;
  fill: none;
} */

/* .cls-11,
.cls-13,
.cls-14,
.cls-16,
.cls-17 {
  stroke-width: 5.5px;
} */

.cls-12,
.cls-13,
.cls-18 {
  stroke: #dfbe90;
}

.cls-12 {
  stroke-width: 6px;
}

.cls-15,
.cls-16 {
  stroke: #7b472d;
}

.cls-15 {
  stroke-width: 5px;
}

.cls-17 {
  stroke: #4650c8;
}

.cls-18 {
  stroke-width: 5.2px;
}

.cls-19 {
  fill: #d66333;
}

.cls-20,
.cls-26 {
  stroke: #fff;
}

.cls-22 {
  fill: #2e3192;
}

.cls-23 {
  fill: #fff;
}

.cls-24,
.cls-25 {
  stroke: #77aff9;
}

.cls-27 {
  fill: #e5a054;
}

.cls-28,
.cls-29 {
  stroke-width: 3px;
}

.cls-29 {
  stroke: #cc6932;
}
